{
  "plugins": [
    "@emotion/babel-plugin",
    [
      "effector/babel-plugin",
      {
        "factories": ["./src/lib/local-store", "./src/lib/media-query"]
      }
    ],
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ],
  "presets": [
    "@babel/preset-typescript"
  ]
}
